@{
    ViewData["Title"] = "Apagar Confirmação";
}
<h1>Certeza que deseja apagar?</h1>
<a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>
<a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar">Apagar</a>